body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
}
body {
  font-family: garamond, serif;
  margin: 40px 0px;
  padding: 0px 20px;
  background-color: white;
}
.playtitle a{
  color: white;
}

section.dramatis, section.play {
  width: 70%;
  max-width: 750px;
  margin: 10px auto;
}

div.sceneImage {
}
h1.act, h1.dramatishead{
text-align: center;
font-size: 1.5em;
font-family: impact, verdana, sans-serif;
background-color: black;
color: white;
padding: 1em 0 16px 0;
vertical-align: middle;
height: 1em;
}

/* This extra style rule here makes sure that the linked location is not hidden inder the fixed header */
h1 a, h2 a {
  margin-top: -3rem;
  padding-bottom: 3rem;
  display:block;
  background: white;
}

p.character {
  font-size: 1.1em;
  color: rgb(153, 5, 5);

}
p.charactername {
margin: 0 10px 0 40px;


}
h1.dramatishead {

}
h2.firstscene, h2.scene {
text-align: center;
font-family: impact;
}
h2.location, p.play_location {
font-family: impact;
color: rgb(149, 10, 10);
}

p.prose {
margin: 0 12px 0 60px;
}

p.song {
text-align: center;
}
h2.stagedirection, span.stage_directions_inline, .EnterExit {
font-weight: bold;
}
p.verseline {
margin: 0 12px 0 60px;
}
span.character_role {
  color: rgb(153, 5, 5);
}


a {
  text-decoration: none;
}

nav {
    font-family: impact;
}

ul {
  background: black;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

li {
    color: #fff;
  background: black;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover {
    background: black;
    color: white;
    cursor: pointer;
}

ul li ul {
    background: black;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
p.playtitle {
  position:fixed;
  left:0;
  top:0;
  /* height:1rem; */
  padding: .6rem;
  color:white;
  font-family: verdana, sans-serif;
  font-size:.9em;
  z-index: 20;
  margin:0;
}

a.menu {
  position:fixed;
  top:0;
  right:0;
  color:white;
  padding: .6rem;
  color:white;
  font-family: verdana, sans-serif;
  font-size:.8em;
  z-index: 20;
  margin:0;
}

a.menu:hover {
  color:rgb(149, 10, 10);
  cursor:pointer;
}
.contents {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: black;
  font-family: verdana, sans-serif;
  font-size:.8em;
  height:2.4rem;
}

a {
  text-decoration: none;
}

ul {
    list-style: none;
    font-size: 1em;
    margin: 0;
    padding-left: 0;
    float:right;
    overflow: hidden;
    background:black;
    width:0;
    position:relative;
    top: 2rem;

}

#navigation:target {
  width: 30%;
}

li {
    color: #fff;
    display: block;
    padding: .3rem .5rem;
    position: relative;
    text-decoration: none;
    min-width: 1rem;
}




li a {
  color: #fff;
}

li:hover a {
    cursor: pointer;
    color: white;
}



ul li ul {
  display:block;
  width:100%;
  padding:0;
  left: 0;
  font-size: .7em;
  /* display: none; */
  float:none;
  margin:0;
  position:static;
}

ul li ul li {
min-width:4rem;
}

ul li ul li:hover {
background-color: rgb(149, 10, 10);
}

ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}


/* now follows the media query that displays everyhing correctly on wider screens */

@media only screen and (min-width: 780px) {

h1.act, h1.dramatishead {
  font-size: 3em;
}

ul {
  width:auto;
  float:right;
  overflow:visible;
  position:static;
  top:inherit;

}


li {
  display:inline-block;
  height:1.2rem;
  padding: .6rem .4rem;
}

a.menu {
  display:none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: .8rem 0;
  padding:0;
  left: 0;
  float:right;
}

li:hover {
    background-color: rgb(149, 10, 10);
    cursor: pointer;
}

ul li ul li:hover {
background-color: rgb(149, 10, 10);
}

li:hover a {
  color: white;
}

#navigation:target {
  width: auto;
}

p.prose, p.verseline {
margin: 0 12px 0 60px;
}

p.prose {
  margin-bottom: 12px;
}

}

img {
    max-width:100%;
    height:auto;
}
