body {
font-family: georgia, monospace, verdana, arial, sans-serif;
}

h1 {
color:rgb(149, 10, 10);
font-family: impact, georgia, serif;
text-align: center;
}

div {
  padding: 10px 30px 10px 30px;
  margin: 5px auto;
  width:90%;
  background-color: white;
}

img {
display: block;
border: solid black;
width: 100%;
margin-left: 15px;
border: 2px solid black;
}

@media screen and (min-width: 600px) {
  img {
  width: 30%;
  float: right;
}
div {
  margin: 10px auto;
  width: 70%;
  max-width: 850px;
  padding: 20px;
  overflow: auto;
}

}
